In [1]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix

In [2]:
data = pd.read_csv("heart_disease_dataset.csv") #Dosyayı yükle

In [3]:
data.sample(10) #data.sample(10) ifadesi, pandas DataFrame'i olan data'dan rastgele 10 satır örneği seçmek için kullanılır. Bu yöntem, veri setinden rastgele örnekler almak ve veri keşfi, model doğrulama veya veri görselleştirme gibi işlemler için yararlıdır. Detaylı açıklama aşağıdaki gibidir:

,Age,Gender,CP,Trestbps,Chol,Fbs,Restecg,Thalach,Exang,Oldpeak,Slope,CA,Thal,Num
169,45,0,2,112,160,0,0,138,0,0.0,2,0,3,0
101,34,1,1,118,182,0,2,174,0,0.0,1,0,3,0
238,49,0,2,134,271,0,0,162,0,0.0,2,0,3,0
257,76,0,3,140,197,0,1,116,0,1.1,2,0,3,0
285,58,1,4,114,318,0,1,140,0,4.4,3,3,6,4
178,43,1,3,130,315,0,0,162,0,1.9,1,1,3,0
286,58,0,4,170,225,1,2,146,1,2.8,2,2,6,2
28,43,1,4,150,247,0,0,171,0,1.5,1,0,3,0
246,58,1,4,100,234,0,0,156,0,0.1,1,1,7,2
250,57,1,4,110,201,0,0,126,1,1.5,2,0,6,0

In [4]:
data.shape #Toplam satır ve sutun sayısı

(303, 14)

In [5]:
data.isnull().sum() #Missing data kontrolü

Age         0
Gender      0
CP          0
Trestbps    0
Chol        0
Fbs         0
Restecg     0
Thalach     0
Exang       0
Oldpeak     0
Slope       0
CA          0
Thal        0
Num         0
dtype: int64

In [6]:
data.dtypes #Verilerin tipi

Age           int64
Gender        int64
CP            int64
Trestbps      int64
Chol          int64
Fbs           int64
Restecg       int64
Thalach       int64
Exang         int64
Oldpeak     float64
Slope         int64
CA           object
Thal         object
Num           int64
dtype: object

In [7]:
df = pd.DataFrame(data) #dropna:dataframe(df) ten alınan tüm null değerlerini kaldırır.

In [8]:
indexes_to_drop = df[df.apply(lambda x: x.astype(str).str.contains('\?').any(), axis=1)].index
df_cleaned = df.drop(indexes_to_drop) #data_cleaned: Sütunları çıkarılmış olan yeni veri çerçevesi.

<>:1: SyntaxWarning: invalid escape sequence '\?'
<>:1: SyntaxWarning: invalid escape sequence '\?'
/var/folders/y6/npmgkj1j4mzgx950yrf632lc0000gn/T/ipykernel_2554/559485305.py:1: SyntaxWarning: invalid escape sequence '\?'
  indexes_to_drop = df[df.apply(lambda x: x.astype(str).str.contains('\?').any(), axis=1)].index

In [9]:
df_last = df_cleaned[df_cleaned['Num'] != 0] 
#df_cleaned['Num'] != 0 ifadesi, 'Num' sütununda 0 olmayan değerleri kontrol eder ve [False, True, False, True, True] gibi bir Boolean maskesi oluşturur.
#df_cleaned[df_cleaned['Num'] != 0] ifadesi, bu maskeyi kullanarak 'Num' sütununda 0 olmayan satırları seçer ve df_last DataFrame'ini oluşturur.
print(df_last['Num'])

1      2
2      1
6      3
8      2
9      1
      ..
297    1
298    1
299    2
300    3
301    1
Name: Num, Length: 137, dtype: int64

In [10]:
df_last.Num.value_counts() #"Diagnosis" feature'ı altındaki değerlerin sayısını verir

Num
1    54
2    35
3    35
4    13
Name: count, dtype: int64

In [11]:
X = df_last.drop(['Num'], axis=1)
Y = df_last.Num

In [12]:
Y.value_counts()

Num
1    54
2    35
3    35
4    13
Name: count, dtype: int64

In [13]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=33, stratify=Y)
#X ve Y verisini %70-%30 oranın train-test verisi olarak ayırır.

In [14]:
clf = MLPClassifier() #KNN Sınıflandırısı
clf.fit(X_train, Y_train) #Eğitim verilerinin, KNN algoritmasına entegre edilmesi
prediction = clf.predict(X_test) #Test verisinin tahminlenme işlemi
prediction

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/sklearn/neural_network/_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

array([3, 2, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 2, 1, 2, 3, 1,
       1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 3, 1, 1])

In [15]:
accuracy_score(Y_test, prediction)

0.3333333333333333

In [16]:
cm = confusion_matrix(Y_test, prediction) #Confusion Matris
print(cm)

[[14  1  1  0]
 [ 9  0  2  0]
 [ 8  3  0  0]
 [ 1  1  2  0]]